---
title: "Flora Surveys"
layout: splash
permalink: 
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: assets/images/orobanchecorymbosa.jpg
excerpt: "Exploring plant biodiversity in the greater Puget Sound"
intro: 
  - excerpt: '# Current Projects'
feature_row:
  - title:
    image_path: /assets/images/podLand.jpg
    alt: "placeholder image 1"
    excerpt: "View mapped plants and find out how to map your own"
    url: "https://waflorasurveys.github.io/florasurveys/FloraObservations/"
    btn_label: "Read More"
    btn_class: "btn--success"
  - image_path: /assets/images/cypland.jpg
    alt: "Habitats"
    title: "Habitats"
    excerpt: "Habitat projects"
    url: "https://waflorasurveys.github.io/florasurveys/habitats/"
    btn_label: "Habitats"
    btn_class: "btn--primary"
  - image_path: /assets/images/orthoimbrLand.jpg
    title: "Resources"
    excerpt: "Checkists etc."
    url: "https://waflorasurveys.github.io/florasurveys/resources/"
    btn_label: "Resources"
    btn_class: "btn--primary"
feature_row3:
  - title: "Recent News"
feature_row4:
  - image_path: /assets/images/R0000007.JPG
    title: "About"
    url: "https://waflorasurveys.github.io/florasurveys/about/"
    btn_label: "More About this Site"
    btn_class: "btn--primary"
feature_row5:
  - title: "Recent Forays"
feature_row6:
  - url: "https://waflorasurveys.github.io/florasurveys/forays/"
    btn_label: "more forays"
    btn_class: "btn--primary"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row5" type="center" %}
<div class="grid__wrapper">
  {% assign news = site.posts | where: "categories","forays" %}
  {% for post in news limit: 3 %}
      {% include archive-single.html type="grid" %}     
  {% endfor %}
</div>
{% include feature_row id="feature_row6" type="center" %}

{% include feature_row id="feature_row3" type="center" %}
<div class="grid__wrapper">
  {% assign news = site.posts | where: "categories","news" %}
  {% for post in news limit: 3 %}
      {% include archive-single.html type="grid" %}     
  {% endfor %}
</div>

{% include feature_row id="feature_row4" type="center" %}