---
title: "Flora Surveys"
layout: splash
permalink: 
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: assets/images/orobanchecorymbosa.jpg
excerpt: "Exploring plant biodiversity in the greater Puget Sound"
intro: 
  - excerpt: '# Current Projects'
feature_row:
  - title: "Flora Observations"
    image_path: /assets/images/podLand.jpg
    alt: "placeholder image 1"
    excerpt: "View mapped plants and find out how to map your own"
    url: "https://waflorasurveys.github.io/florasurveys/FloraObservations/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/cypland.jpg
    alt: "Habitats"
    title: "Forays"
    excerpt: "Recent Survey Trips"
    url: "https://waflorasurveys.github.io/florasurveys/forays/"
    btn_label: "Forays"
    btn_class: "btn--primary"
  - image_path: /assets/images/orthoimbrLand.jpg
    title: "News"
    excerpt: "general news"
    url: "https://waflorasurveys.github.io/florasurveys/news/"
    btn_label: "news"
    btn_class: "btn--primary"
feature_row2:
  - title: "Resources"
    image_path: /assets/images/BalsamRoot.JPG
    alt: "placeholder image 1"
    excerpt: "Checklists and Etc."
    url: "https://waflorasurveys.github.io/florasurveys/resources/"
    btn_label: "Resources"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/R0000007.JPG
    title: "About"
    excerpt: "More About this Site"
    url: "https://waflorasurveys.github.io/florasurveys/about/"
    btn_label: "about"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row4" type="right" %}